vrrp_instance VI_1 {
    state {{ 'MASTER' if inventory_hostname == 'lb-1' else 'BACKUP' }}
    interface eth0
    virtual_router_id 101
    priority {{ 200 if inventory_hostname == 'lb-1' else 100 }}
    advert_int 1

    authentication {
        auth_type PASS
        auth_pass b65495f8
    }

    unicast_src_ip {{ ansible_host }}
    unicast_peer {
        {{ hostvars['lb-2']['ansible_host'] if inventory_hostname == 'lb-1' else hostvars['lb-1']['ansible_host'] }}
    }

    virtual_ipaddress {
        10.10.10.100/24 dev eth0
    }

    virtual_routes {
        default via 10.10.10.1 dev eth0
    }
}