server {
    listen {{ nginx_port }} default_server;
    server_name _;
    root {{ path_mywiki }};
    index index.php index.html;

    location / {
        try_files $uri $uri/ /index.php?$query_string; 
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php8.2-fpm.sock; 
        fastcgi_param  REMOTE_ADDR        $remote_addr;
        fastcgi_param  SCRIPT_FILENAME    $document_root$fastcgi_script_name;
    }

    location ~ /\. {
        deny all;
    }
}